.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  margin: 10px auto;
  justify-content: space-around;
  border-radius: 20px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow:-14px -14px 15px #fbfbfc, 7px 7px 10px var(--baseVermelha) ;

}

.imgCabecalho {
  width: 75px;
}

.header a {
  text-decoration: none;
  color: var(--letraPreta);
}

.agora {
  font-weight: 700;
  border-bottom: 3px solid var(--baseVermelha);
}

.navbar {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: var(--letraPreta);
}

/* rodape */

.footer {
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer a {
  text-decoration: none;
  color: var(--letraPreta);
}

.footer_um .container {
  justify-content: space-around;
}


.footer_um{
  height: 75px;
  border: 3px solid var(--baseVermelha);
  background-color: #008be3;
}

.imgFooter{
  width: 50px;
}

.footer_dois .container {
  justify-content: center;
}

.navbarfooter{
  width: 40%;
}

.footer_dois{
  height: 50px;
  background-color: #050648;
}